@font-face {
font-family: 'RobotoFlex';
src: url('fonts/RobotoFlex.ttf') format('truetype'),
url('fonts/RobotoFlex.woff') format('woff-variations');
url('fonts/RobotoFlex.woff') format('woff2-variations');
}

h1 {
   font-family: 'RobotoFlex';
   color: green;
   font-size: 185px;
   font-variation-settings: 'wght' 100; 'wdth' 100; 'YTUC' 600;
}
