// Variable font
@font-face {
font-family: 'RobotoFlex';
src: url('../fonts/RobotoFlex.ttf') format('truetype'),
   url('../fonts/RobotoFlex.woff') format('woff-variations');
}



h1 {
   font-family: 'RobotoFlex';
   color: blue;
   font-size: 300px;
}

