@font-face {
font-family: 'RobotoFlex';
src: url('fonts/RobotoFlex.ttf') format('truetype'),
url('fonts/RobotoFlex.woff') format('woff');
font-weight: normal;
font-style: normal;
}

h1 {
   font-family: 'RobotoFlex';
   color: blue;
   font-size: 185px;
}


